<h2>My Groups</h2>
<%= link_to "Create Group", new_user_group_path %>
<div>
  <% @groups.each do |group| %>
    <div>
      <%= link_to group.name, user_group_path(current_user, group) %>
    </div>
  <% end %>
<div>
