// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style-type: none;
}

.group-banner {
  width: 80%;
}

.card-img-top {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;

}

.rounded {
  border-radius: 50rem
}
