// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.avatar-small {
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
.avatar-large {
  height: 200px;
  width: 200px;
  border-radius: 15px;
}
