<% if logged_in? %>
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%= logout_path %>">Log Out</a>
  </li>
<% else %>
<li class="nav-item">
  <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
</li>
  <li class="nav-item">
    <a class="nav-link" href="<%= login_path %>">Log In</a>
  </li>
<% end %>
